<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.amicosmanettone.assistenza.assistenzaitalia"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM PERMISSION -->
    <permission
        android:name="it.amicosmanettone.assistenza.assistenzaitalia.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="it.amicosmanettone.assistenza.assistenzaitalia.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- FINE GCM PERMISSION -->

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GCM -->
        <receiver
            android:name="it.amicosmanettone.assistenza.assistenzaitalia.gcm.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="it.amicosmanettone.assistenza.assistenzaitalia" />
            </intent-filter>
        </receiver>

        <service
            android:name="it.amicosmanettone.assistenza.assistenzaitalia.gcm.GcmIntentService"
            android:enabled="true" />

        <!-- FINE GCM -->

        <activity
            android:name="it.amicosmanettone.assistenza.assistenzaitalia.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="it.amicosmanettone.assistenza.assistenzaitalia.PreferenceFragment"
            android:label="Preferenze"
            android:parentActivityName="it.amicosmanettone.assistenza.assistenzaitalia.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.amicosmanettone.assistenza.assistenzaitalia.MainActivity" />
        </activity>
        <activity
            android:name="it.amicosmanettone.assistenza.assistenzaitalia.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="it.amicosmanettone.assistenza.assistenzaitalia.StartApp"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>